
:root {
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
}
body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: Helvetica;
}
li {
  list-style: circle;
}
.btn1{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}



.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnFontColor: var(--black)
    --btnBg: var(--green)
}

.dark-theme{
  --bg: var(--black);
  --fontColor: var(--green);
  --btnFontColor: var(--green)
  --btnBg: var(--black)
}
